<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/CSS/style.css">
</head>
<body>
    <main>
        <h1>Selamat Datang</h1>
        <div>
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Password">
            <section>
                <input type="checkbox">
                <a href="#">Lupa Paswword?</a>
            </section>
            <button type="submit">Login</button>
            <p>Belum punya Akun ?<span><a href="/Layout/Daftar.html">Daftar</a></span></p>
        </div>
    </main>
</body>
</html>